.convert {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 0 auto;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

.field > input {
    font-size: 16px;
    height: 36px;
    border-radius: 9px;
    box-shadow: none;
    border: 2px solid rgb(68, 67, 67);
    padding: 0 5px;
}

.field > input:where(:focus, :active, :hover) {
    outline: none;
    
}

.field > label {
    margin: 2px;
    font-size: 16px;
}

.field > div {
    margin: 2px 1px;
    opacity: .8;
    font-size: 14px;
}

.field > div > div {
    margin: auto 5px;
}

.sellbuyUSD {
    display: flex;
    gap: 5px;
    width: 100%;
}