.convert {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.field > input {
    height: 36px;
    border-radius: 9px;
    box-shadow: none;
    border: 2px solid rgb(68, 67, 67);
    padding: 0 5px;
}

.field > input:where(:focus, :active, :hover) {
    outline: none;
    
}

.field > label {
    margin: 2px;
}

.field > div {
    height: 20px;
    opacity: .8;
    font-size: 12px;
}

.field > div > div {
    margin: auto 5px;
}

.sellbuyUSD {
    display: flex;
    gap: 5px;
    width: 100%;
}