html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  --color-scheme: none;
} */

body {
  --text-color: #222;
  --bgd-color: #fff;
}

/* Цвета тёмной темы */
body.dark-theme {
  --text-color: #eee;
  --bgd-color: #121212;
}

/* html.dark-theme {
  --color-scheme: dark;
} */

@media (prefers-color-scheme: dark) {
  /* html {
    --color-scheme: dark;
  } */

  body {
    --text-color: white;
    --bgd-color: black;
  }
  
/* 
  html.light-theme {
    --color-scheme: none;
  } */

  body.light-theme {
    --text-color: #222;
    --bgd-color: #fff;
  }
}


body {
  color: var(--text-color);
  background-color: var(--bgd-color);
}

/* html {
  color-scheme: var(--color-scheme);
} */

input {
  background-color: var(--bgd-color);
  color: var(--text-color);
}