.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.main {
  flex: 1;
  display: grid;
  grid-template-rows: 96vh 4vh;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 30px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 10px rgba(170, 170, 170, 0.564);
  background-color: rgb(126, 210, 235);
  text-decoration: none;
  transition: all 150ms ease-in;
}

.start:hover {
  transform: scale(1.01);
}

.list {
  margin: 15px;
  list-style-type: none;

}

.list > li {
  margin: 5px;
  text-decoration: none;
}

.list > li:hover {
  text-decoration: underline;
}


.profile {
  margin: 15px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.footer div a {
  text-decoration: none;
  color: rgb(58, 58, 58);;
}

.footer div a:hover {
  color: black
}