.container {
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 30px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 10px rgba(170, 170, 170, 0.564);
  background-color: rgb(126, 210, 235);
  text-decoration: none;
  transition: all 150ms ease-in;
  
}

.start:hover {
  transform: scale(1.01);
}

.button {
  display: inline;
  padding: 6px 16px;
  margin: 15px;
  width: auto;
  background-color: rgb(126, 210, 235);
  border: 1px solid rgb(126, 210, 235);
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(81, 199, 235);
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;

}


.list {
  margin: 15px;
  list-style-type: none;

}

.list > li {
  margin: 5px;
  text-decoration: none;
}

.list > li:hover {
  text-decoration: underline;
}


.profile {
  margin: 15px;
}

.login {
  display: inline-block;
  margin: 5px 15px;
  padding: 6px 18px;
  background-color: rgb(35, 209, 29);
  border-radius: 3px;

}

.logout {
  display: inline-block;
  margin: 5px 15px;
  padding: 6px 18px;
  background-color: rgba(239, 44, 70, 0.873);
  border-radius: 3px;
}