
.logButton {
    display: flex;
    margin: 5px 3px;
    padding: 12px 32px;
    border-radius: 3px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: rgb(35, 209, 29);
}

.logout {   
    background-color: rgba(239, 44, 70, 0.873);
}